@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Setting background image for the body*/
body
{
    background-image: url(Clinic.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

/* Header style */
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
/* The Logo "B.C Health & Wellness"*/
header .logo
{
    margin-left: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

/* The Nav bar at the top*/
.top-nav 
{
    background-color: #7AD7F0;
    justify-content: center;
	  height: 40px;
	  display: flex;
	  align-items: center;
    width: 100%;
}
.top-nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.top-nav ul li
{
    list-style: none;
    margin: 200px;

}

.top-nav ul li a
{
    text-decoration: none;
    padding: 6px 16px;
    color: #fff;
    border-radius: 20px;
  
}
.top-nav ul li a:hover,   
.top-nav ul li a.active

{
    background-color: #fff;
    color: #7AD7F0;
}

/* The search bar at the top right*/
.search-form input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
  }

.search-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #7AD7F0;
  }


/*menu class for header */
.menu {
  margin-left: 200px;
	float: right;
  
}

/* Main content area style */
.main {
	padding: 20px;
  margin-top: -10px; /* Move main content up slightly to align with header */
}

/*Title in the middle for the home page */
.tile {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

.tile h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }

.tile p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
  }

  /*The about box in the home page style */
.about-box {
    position: absolute;
    top: 50%;
    right: 30px; /* adjust this value to position the box as desired */
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 23.5%;
    height: 50%;

  }
  
.about-box h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
.about-box p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }

  /*The phone number box in the home page style */
.phone-number {
    position: absolute;
    top: 80%;
    right: 30px; /* adjust this value to position the box as desired */
    transform: translateY(-20%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 23.5%;
    height: 16.5%;
}

.phone-number h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.phone-number p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

/*The Open-hours box in the homePage style */
.Open-hours {
    position: absolute;
    top: 80%;
    right: 60px; /* adjust this value to position the box as desired */
    transform: translate(-50%, -20%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    height: 16.5%;

}

.Open-hours h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.Open-hours p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

/* the nav on the side */
.side-nav 
{
    position: absolute;
    top: 50%;
    right: 30px; /* adjust this value to position the box*/
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 15%;
    height: 50%;
}

.side-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* Styles for links in side navigation */
.side-nav a {
    font-size: 14px;
    white-space: nowrap;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #333;
}

/* Styles for hover effect on links in side navigation */
.side-nav ul li a:hover,   
.side-nav ul li a.active

{
    border-radius: 10px;
    background-color: #7AD7F0;
    color: #fff;
}

/*Side nav drop down menu "Found on W3school and updated" */
.side-nav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    font-size: 14px;
    color: #333;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 15px 0px 15px;
  }

/*Dropdown container */
  .dropdown-container {
    display: none;
    background-color: #000000;
    padding-left: 10px;
  }

  .dropdown-container a{
    color: #fff;
  }

  .active {
    background-color: #7AD7F0;
    color: white;
  }

  .dropdown-container a:hover {
    text-decoration: underline;
    text-decoration-color: #7AD7F0;
    color: white;
  }
  .dropdown-btn:hover {
    background-color: #7AD7F0;
    color: #fff;
  }
/*The title in the middle for the staff Account Page */
.Staff-Page-tile {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    height: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

.Staff-Page-tile h1 {
    text-align: center;
    color: #333;
  }
/*Labels style for the content of the staff account info */
label
{
    color: #333;
    position: relative;
}
/*Input text for the staff Account page */
.Input-form input[type="text"] {
    border: none;
    border-radius: 10px;
    margin-right: 5px;
  }

/* Create Patient Account Page Info Box style */
.Create-Patient-Account-Info {
    position: absolute;
    top: 50%;
    right: 30px; /* adjust this value to position the box as desired */
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 15%;
    height: 50%;

  }
  
  
.Create-Patient-Account-Info p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }

/* Create Patient Account Page Pedding Box style */
.Pending-info
{
    position: absolute;
    top: 50%;
    left: 10%; /* adjust this value to position the box as desired */
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 12%;
    height: 50%;
    
}

/* Create Patient Account Page registeration Box style */
.Registeration-title {
    position: absolute;
    top: 80%;
    right: 6.5%; /* adjust this value to position the box as desired */
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    height: 100px;
    transform: translate(-22.6%);

}

.Registeration-title h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.Registeration-Status {
    position: absolute;
    top: 80%;
    right: 30px; /* adjust this value to position the box as desired */
    transform: translateY(20%),-20%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 15%;
    height: 10%;
}

.Registeration-Status h2 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

